<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Player</title>
</head>
<body>
    <ul>
        <li>
            <a href="/" class="link-dark">Home</a>
        </li>
        <li>
            <a href="/players" class="link-dark">All Players</a>
        </li>
        <li>
            <a href="/players/new" class="link-dark">New Player</a>
        </li>
    </ul>
    </nav>
    <h1><%= player.username %></h1>
    <p><%= player.bio %></p>
    <% if (player.campaignsDMing[0]) { %>
        <%= player.username %> is the dungeon master for: <br>
        <% player.campaignsDMing.forEach(campaign => { %>
            <a href="/campaigns/<%= campaign._id %>" ><%= campaign.name %></a><br>
        <% }) %>   
    <% } %>
</body>
</html>