    <title>Edit Campaign</title>
</head>
<!-- opening nav tag in the layout.ejs -->
<ul>
    <li>
        <a href="/" class="link-dark">Home</a>
    </li>
    <li>
        <a href="/campaigns" class="link-dark">All Campaigns</a>
    </li>
</ul>
</nav>

<h1 class="text-dark">Edit <%= campaign.name %> </h1>
    <form action="/campaigns/<%= campaign._id %>" method="POST"> 
        <!-- should this be a PUT? -->
        Name: <input type="text" name="name" value="<%= campaign.name %>" ><br />
        Dungeon Master: <input type="text" name="dungeonMaster" value="<%= campaign.dungeonMaster %> "><br />
        Players: <input type="text" name="players" value="<%= campaign.players %> "><br />
        Open Slots: <input type="text" name="openSlots" value="<%= campaign.openSlots %> "><br />
        Start Date: <input type="date" name="startDate" value="<%= campaign.startDate %> "><br />
        Description: <textarea name="description"><%= campaign.description %></textarea><br />
        <input type="submit" value="Edit Campaign">
    </form>
    <p class="text-dark">Delete Campaign. Careful, cannot be undone!</p>
    <form action="/campaigns/<%= campaign._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
