    <title>New Campaign</title>
</head>
<!-- opening nav tag in the layout.ejs -->
</form>
    <ul>
        <li>
            <a href="/" class="link-dark">Home</a>
        </li>
        <li>
            <a href="/campaigns" class="link-dark">All Campaigns</a>
        </li>
    </ul>
</nav>

<h1 class="text-dark">New Campaign</h1>
<form action="/campaigns" class="text-dark" method="POST">
    Name: <input type="text" name="name" required><br />
    Dungeon Master: <select name="dungeonMaster" required>
        <option value="" selected>Select Here</option>
        <% players.forEach(player => { %>
            <option value="<%= player._id %>" ><%= player.username %></option>
        <% }) %>
    </select><br />
    Players: <input type="text" name="players" required><br />
    Open Slots: <input type="number" name="openSlots" required max:6><br /> 
    Genre: <select name="genre" required>
        <% const genreOptions = ["Fantasy", "Scifi", "Horror", "OSR", "Survival", "Other"]
        genreOptions.forEach(genre => { %>  
            <option value="<%= genre %>"><%= genre %></option>
        <% }) %>  
    </select><br />
    Game System: <select name="gameSystem" required>
        <% const gameSystemOptions = ['D&D', '3D', '4D'] 
        gameSystemOptions.forEach(system => { %>  
            <option value="<%= system %>"><%= system %></option>
        <% })%>
    </select><br />
    Difficulty: <select name="difficulty" required>
        <% const difficultyOptions = ['Easy', 'Medium', 'Hard']
        difficultyOptions.forEach(difficulty => { %>  
            <option value="<%= difficulty %>"><%= difficulty %></option>
        <% }) %>
    </select><br />
    Start Date: <input type="date" name="startDate" required><br />
    Description: <textarea name="description" placeholder="Description" required></textarea><br>
    <input type="submit" value="Create Campaign">
