    <title>Campaigns Show Page</title>
</head>
    <!-- opening nav tag in the layout.ejs -->
        <ul>
            <li>
                <a href="/" class="link-dark">Home</a>
            </li>
            <li>
                <a href="/campaigns" class="link-dark">All Campaigns</a>
            </li>
            <li>
                <a href="/campaigns/new" class="link-dark">New Campaign</a>
            </li>
        </ul>
    </nav>
    <div class="text-dark">
    <h1><%= campaign.name %></h1>
    <h3>Dungeon Master: <%= dungeonMaster.username %></h3>
    <h4>Players: <%= campaign.players %></h4>
    <h4>Genre: <%= campaign.genre %> </h4>
    <h4>Game System: <%= campaign.gameSystem %> </h4>
    <h4>Difficulty: <%= campaign.difficulty %> </h4>
    <h3>Open Slots: <%= campaign.openSlots %></h3>
    <% const monthArray = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] %> 
    <h4>Start Date: <%= monthArray[campaign.startDate.getMonth()] %> <%= campaign.startDate.getDay() %>, <%= campaign.startDate.getFullYear() %></h4>
    <p><%= campaign.description %></p>
    <h4>Session Logs: </h4>
    <ul>
        <% campaign.sessions.forEach(session => { %>
            <li>
                <a href="/sessions/<%= session._id %>"><%= session.title %></a>
            </li>
        <% }) %>
    </ul><br>

    <ul>
        <li>
            <a href="/campaigns/<%= campaign._id %>/edit" class="link-dark">Edit This Campaign</a>
        </li>
        <li>
            <a href="/sessions/new/<%= campaign._id %> " class="link-dark">Add A Session</a>
        </li>
    </ul>
</div>