    <title>Campaigns Show Page</title>
</head>
    <!-- opening nav tag in the layout.ejs -->
        <ul>
            <li>
                <a href="/" class="link-dark">Home</a>
            </li>
            <li>
                <a href="/campaigns/new" class="link-dark">New Campaign</a>
            </li>
            <li>
                <a href="/campaigns/<%= campaign._id %>/edit" class="link-dark">Edit This Campaign</a>
            </li>
            <li>
                <a href="/sessions/new/<%= campaign._id %> " class="link-dark">Add A Session</a>
            </li>
        </ul>
    </nav>
    
    <h1><%= campaign.name %></h1>
    <h3>Dungeon Master: <%= campaign.dungeonMaster %></h3>
    <h4>Players: <%= campaign.players %></h4>
    <h4>Start Date: <%= campaign.startDate %></h4>
    <h3>Open Slots: <%= campaign.openSlots %></h3>
    <p><%= campaign.description %></p>
    <h4>Session Logs: </h4>
    <ul>
        <% campaign.sessions.forEach(session => { %>
            <li>
                <a href="/sessions/<%= session._id %>"><%= session.title %></a>
            </li>
        <% }) %>
    </ul>
