    <title>Campaigns Show Page</title>
</head>
    <!-- opening nav tag in the layout.ejs -->
        <ul>
            <li>
                <a href="/" class="link-dark">Home</a>
            </li>
            <li>
                <a href="/campaigns" class="link-dark">All Campaigns</a>
            </li>
            <li>
                <a href="/campaigns/new" class="link-dark">New Campaign</a>
            </li>
            <li>
                <a href="/campaigns/<%= campaign._id %>/edit" class="link-dark">Edit This Campaign</a>
            </li>
            <li>
                <a href="/sessions/new/<%= campaign._id %> " class="link-dark">Add A Session</a>
            </li>
        </ul>
    </nav>
    
    <h1><%= campaign.name %></h1>
   <div>
    Dungeon Master: <%= campaign.dungeonMaster %>
    Players: <%= campaign.players %>
    Genre: <%= campaign.genre %> 
    Game System: <%= campaign.gameSystem %> 
    D ifficulty: <%= campaign.difficulty %> 
    Open Slots: <%= campaign.openSlots %>
    <% const monthArray = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] %> 
    Start Date: <%= monthArray[campaign.startDate.getMonth()] %> <%= campaign.startDate.getDay() %>, <%= campaign.startDate.getFullYear() %> </div>
    <p><%= campaign.description %></p>
    
    <ul>
        <% campaign.sessions.forEach(session => { %>
            <li>
                <a href="/sessions/<%= session._id %>"><%= session.title %></a>
            </li>
        <% }) %>
    </ul>
