		<title>Edit Sessions</title>
	</head>

		<header>
			<h1>Edit <%= session.title %></h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/sessions">Sessions Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>Session Details:</h2>
			<form action="/sessions/<%= session._id %>?_method=PUT" method="post">
				Title: <input type="text" name="title" value="<%= session.title %>" required/><br/>
                Session Date: <input type="date" name="sessionDate" value="<%= session.sessionDate %>" required/><br/>
                Session Author: <input type="text" name="author" value="<%= session.author %>" required/><br/>
				Summary: <textarea name="body"><%= session.body %> required</textarea><br/>
				<input type="submit" value="Update Session"/>
			</form>
		</main>


<main>
	<h2>Session Details:</h2>
	<form action="/sessions/<%= session._id %>?_method=PUT" method="post">
			Title: <input type="text" name="title" value="<%= session.title %>"/>
			<br/>
			Session Date: <input type="date" name="sessionDate" value="<%= session.sessionDate %>"/>
			<br/>
			Session Author: <input type="text" name="author" value="<%= session.author %>">
			<br/>
			Summary: <textarea name="body"><%= session.body %></textarea>
			<br/>
			<input type="submit" value="Update Session"/>
	</form>
</main>