    <title>Show Sessions</title>
</head>
    <header>
        <h1><%=session.title%></h1>
            <ul>
                <li>
                    <a href="/campaigns" class="link-dark">Campaigns</a>
                </li>
                <li>
                    <a href="/sessions" class="link-dark">Sessions Index</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <%=session.body%>
        </section>
        <br/> 
        <section class="text-dark">
            Campaign: <%= campaign.name %>
            <a href="/campaigns/<%= campaign._id %> "><%= campaign.name %></a>
        </section>
        <br/>
        <section class="text-dark">
            <form action="/sessions/<%=session._id%>?_method=DELETE" method="post">
                <input type="submit" value="Delete Session"/>
            </form>
        </section>
        <section class="text-dark">
				<a href="/sessions/<%=session._id%>/edit">Edit</a>
        </section>
    </main>
