    <title>Show Sessions</title>
</head>
            <a href="/campaigns" class="nav-link active link-dark">Campaigns</a>
            </div>
        </div>
    </div>
</nav>

<main class="text-dark">
    <h1 class="pg center text-dark"><%=session.title%></h1>
    <div class="card card-light shadow-1-strong" id="form-card">
        <div class="input-group d-flex justify-content-center">
            <ul class="list-group list-group-flush text-center rounded">
                <section class="text-dark">
                    <li class="list-group-item mt-1">
                        Campaign: <a class="text-dark" href="/campaigns/<%= campaign._id %> "><%= campaign.name %></a>
                    </li>
                </section>
                <section>
                    <li class="list-group-item mb-3">
                    <% const monthArray = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] %> 
                    <h4><%= monthArray[session.sessionDate.getMonth()] %> <%= session.sessionDate.getDay() %>, <%= session.sessionDate.getFullYear() %></h4>
                </li>
                </section>
                <section>
                    <li class="list-group-item mb-3">
                        <%=session.body%>
                    </li>
                </section>
                <br>
                <section class="text-dark">
                    <a class="btn btn-light btn-lg btn-block shadow-1-strong" href="/sessions/<%=session._id%>/edit">Edit</a>
                </section>
                <br/>
            </ul>
        </div>
    </div>
</main>
